.container {
  height: 50vw;
  margin: 0 auto;
  max-height: 768px;
  max-width: 768px;
  min-width: 200px;
  position: relative;
  width: 50vw;
}

layer {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mask {
  border-radius: 0 50% 50% 0;
  box-shadow: rgba(0, 0, 0, .6) 0px 0px 4vw inset, rgba(0, 0, 0, .8) 0px 0px 1vw inset;
  height: 45%;
  left: 50%;
  margin: 27.5% 0 0 -22.5%;
  position: absolute;
  width: 45%;
}
